body {
    background-color: #778899;
}

.bg-light {
    background-color: #ffffff!important;
}

.container-fluid {
    width: 90%;
    padding-top: 20;
   
}

.card-body {
    background-color: #ffffff;
    border-radius: 15px 40px 15px 40px;
    border: 10px;
    border

}