/* body styling */
body {
    background-color: #778899;
}

/* Bootstarp nav bar styling to change appearence to make unique to my site */
.bg-light {
    background-color: #ffffff!important;
    position: fixed;
    width: 100%;
    font-size: 1.1em;
    color: #000000;
}

#navlogo {
    padding-right: 25px;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-nav {
    display: ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem .5rem;
}

/* End of navbar styling */

/* styling for inroduction section and content */

#intro {
    background-image: url(https://images.unsplash.com/photo-1610466896927-699424f3c86d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80S);
    background-attachment: fixed;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.intronest {
    width: 80%;
    height: auto;
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.introduction {
    height: auto;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

#langlogo {
    width: auto;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20px;
    vertical-align: middle;
    position: relative;
}

#codelogo {
    width: 288px;
    height: auto;
}

#projects {
    width: 100%;
    height: 100%;
}

#contact {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.bi::before {
    font-size: 50px;
    vertical-align: middle;
    margin-right: 15px;
}

#emailform {
    padding-left: 15%;
    padding-right: 15%;
    align-content: center;
}

h3 {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#social-media {
    margin-top: 25px;
    padding-bottom: 20px;
}

.col-sm {
    background-color: #ffffff;
    width: 100%;
    position: relative;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 18px;
    align-content: center;
    vertical-align: middle;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    padding-bottom: 5px;
}

 .col {
     width: 400px;
     background-color: #ffffff;
}

 .card-body {
     margin: auto;
}

 .card {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    align-content: center;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
 } 
 
 #project-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-left: auto;
    padding-right: auto;
}



/* styling for contact options at the bottom of the page (includes whatsapp and facebook links) */

#phone {
    padding: 5px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* styling for all site images, allowing them to grow and shrink according to screen size and resolution */

img {
width: 100%;
height: auto;
}

/* @media specific css for mobile device styling */

@media only screen and (max-width: 500px) { 
    .card {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        position: relative;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
}
    @media only screen and (max-width: 500px) {
        #project-container {
           width: 90%;
           padding-left: auto;
           padding-right: auto;
           height: 750px;
           margin-right: auto;
           margin-left: auto;
           position: relative;
       }
    }       

       @media only screen and (max-width: 500px) {
        .intronest {
            width: 80%;
            height: auto;
            margin-left: 10%;
            margin-right: 10%;
            padding-bottom: 20px;
            
        }
        
    }

    @media only screen and (max-width: 500px) {
    #codelogo {
        width: auto;
        height: auto;
    }
}