body {
    background-color: #778899;
   
}

.bg-light {
    background-color: #ffffff!important;
    position: fixed;
    width: 100%;
    font-size: 1.1em;
    color: #000000;
}

#navlogo {
    padding-right: 25px;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
.navbar-nav {
    display: ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem .5rem;
}

#intro {
    background-image: url(https://images.unsplash.com/photo-1610466896927-699424f3c86d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80S);
    background-attachment: fixed;
    width: 100%;
    height: 700px;
  
    
}
#projects {
    width: 100%;
    height: 600px;
    
}
#contact {
    background-color: #ffffff;
    width: 100%;
    height: 800px;
    
    
}
.bi::before {
    font-size: 50px;
    vertical-align: middle;
    margin-right: 15px;

  }

.form-group {
    max-width: 800px;
}
#emailform {
    padding-left: 25%;
    padding-right: 25%;
    align-content: center;
}
h3 {
    padding-left: 50px;
    padding-top: 20px;
}
.card {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.card-body {
    background-color: #ffffff;
}
.card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    text-align: center;
}
